:root {

  --color-blueprimary: #172554;
  --color-clearhover: #FFFFFF1A;

  /* Red Button */
  --color-redwarning: #f52525;
  --color-redwarning-hover: #fc5b5b;

  /* Blue Button */
  --color-bluebutton: theme('colors.blue.500');
  --color-bluebutton-hover: theme('colors.blue.400');

  /* Green Button */
  --color-greenbutton: theme('colors.green.500');
  --color-greenbutton-hover: theme('colors.green.400');

  /* Yellow Button */
  --color-yellowbutton: theme('colors.yellow.500');
  --color-yellowbutton-hover: theme('colors.yellow.400');

  /* Black Button */
  --color-blackbutton: theme('colors.black');
  --color-blackbutton-hover: #505050ff;

  /* Link Color */
  --color-linkpurple: theme('colors.purple.500');
  --color-linkblue: theme('colors.blue.500');

  --color-pinkbright: #f6339a;
  --color-pinkverybright: #ff0088;
  --color-whiteclear: #ffffff;
  --color-blackclear: #000000;
  --color-graystandard: theme('colors.gray.600');
  --color-graydark: theme('colors.gray.800');
  --color-grayclear: theme('colors.gray.300');
  --color-greenstandard: theme('colors.green.600');
  --color-graypopovertext: theme('colors.gray.400');
  --color-grayforpopoverbg: theme('colors.gray.100');
  --color-greenlowbright: theme('colors.green.300');
  --color-greenmediumbright: theme('colors.green.500');
}

/* Red Button */
.btn-redbutton {
  background-color: var(--color-redwarning);
  color: #fff;
  transition: background 0.2s;
}
.btn-redbutton:hover {
  background-color: var(--color-redwarning-hover);
  cursor: pointer;
}

.icon-redbutton {
  color: var(--color-redwarning);
  transition: background 0.2s;
}
.icon-redbutton:hover {
  color: var(--color-redwarning-hover);
  cursor: pointer;
}

/* Blue Button */
.btn-bluebutton {
  background-color: var(--color-bluebutton);
  color: #fff;
  transition: background 0.2s;
}
.btn-bluebutton:hover {
  background-color: var(--color-bluebutton-hover);
  cursor: pointer;
}

/* Green Button */
.btn-greenbutton {
  background-color: var(--color-greenbutton);
  color: #fff;
  transition: background 0.2s;
}
.btn-greenbutton:hover {
  background-color: var(--color-greenbutton-hover);
  cursor: pointer;
}

/* Yellow Button */
.btn-yellowbutton {
  background-color: var(--color-yellowbutton);
  color: #fff;
  transition: background 0.2s;
}
.btn-yellowbutton:hover {
  background-color: var(--color-yellowbutton-hover);
  cursor: pointer;
}

/* Black Button */
.btn-blackbutton {
  background-color: var(--color-blackbutton);
  color: #fff;
  transition: background 0.2s;
}
.btn-blackbutton:hover {
  background-color: var(--color-blackbutton-hover);
  cursor: pointer;
}

/* Gray Close */
.btn-closebutton {
  color: var(--color-graypopovertext);
  transition: color 0.2s;
}
.btn-closebutton:hover {
  color: var(--color-graydark);
  cursor: pointer;
}

 /* Navlink */
.navlink-active {
  background-color: var(--color-whiteclear) !important;
  color: var(--color-pinkbright) !important;
}
.navlink-inactive:hover {
  background-color: var(--color-clearhover);
}

 /* Aside */
.aside-hover {
  transition: background 0.2s;
}
.aside-hover:hover {
  background-color: var(--color-blueprimary-hover, #24306e);
}